body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1025px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:315px;
  top:42px;
  width:600px;
  height:27px;
}
#u0_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:32px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:27px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:27px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:27px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:27px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:27px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:18px;
  top:0px;
  width:232px;
  height:110px;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-size:72px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:110px;
}
#u15 {
  position:absolute;
  left:0px;
  top:12px;
  width:232px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:250px;
  width:190px;
  height:270px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:270px;
}
#u17 {
  position:absolute;
  left:2px;
  top:127px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:540px;
  top:230px;
  width:300px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:16px;
  top:171px;
  width:360px;
  height:46px;
  font-family:'Agency FB Bold', 'Agency FB';
  font-size:36px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:51px;
  top:524px;
  width:168px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:280px;
  top:248px;
  width:190px;
  height:273px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:273px;
}
#u25 {
  position:absolute;
  left:2px;
  top:128px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:337px;
  top:524px;
  width:200px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:520px;
  top:247px;
  width:190px;
  height:273px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:273px;
}
#u29 {
  position:absolute;
  left:2px;
  top:128px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:545px;
  top:524px;
  width:200px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:760px;
  top:248px;
  width:190px;
  height:273px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:273px;
}
#u33 {
  position:absolute;
  left:2px;
  top:128px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:757px;
  top:524px;
  width:200px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:104px;
  top:854px;
  width:200px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:40px;
  top:577px;
  width:190px;
  height:273px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:273px;
}
#u39 {
  position:absolute;
  left:2px;
  top:128px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:280px;
  top:576px;
  width:190px;
  height:274px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:274px;
}
#u41 {
  position:absolute;
  left:2px;
  top:129px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:321px;
  top:854px;
  width:200px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:562px;
  top:853px;
  width:200px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:760px;
  top:577px;
  width:190px;
  height:273px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:273px;
}
#u47 {
  position:absolute;
  left:2px;
  top:128px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:784px;
  top:854px;
  width:200px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:101px;
  top:1179px;
  width:200px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:40px;
  top:900px;
  width:190px;
  height:273px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:273px;
}
#u53 {
  position:absolute;
  left:2px;
  top:128px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:315px;
  top:1179px;
  width:200px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:280px;
  top:900px;
  width:190px;
  height:273px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:273px;
}
#u57 {
  position:absolute;
  left:2px;
  top:128px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:531px;
  top:1179px;
  width:200px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:520px;
  top:900px;
  width:190px;
  height:273px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:273px;
}
#u61 {
  position:absolute;
  left:2px;
  top:128px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:825px;
  top:1179px;
  width:200px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:760px;
  top:900px;
  width:190px;
  height:273px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:273px;
}
#u65 {
  position:absolute;
  left:2px;
  top:128px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:520px;
  top:573px;
  width:190px;
  height:277px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:277px;
}
#u67 {
  position:absolute;
  left:2px;
  top:130px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
