body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:915px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:315px;
  top:42px;
  width:600px;
  height:27px;
}
#u0_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:32px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:27px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:27px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:27px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:27px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:27px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:18px;
  top:0px;
  width:232px;
  height:110px;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-size:72px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:110px;
}
#u15 {
  position:absolute;
  left:0px;
  top:12px;
  width:232px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:411px;
  top:100px;
  width:220px;
  height:79px;
  font-family:'Kunstler Script Bold', 'Kunstler Script';
  font-weight:700;
  font-size:72px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:79px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:40px;
  top:250px;
  width:190px;
  height:274px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:274px;
}
#u19 {
  position:absolute;
  left:2px;
  top:129px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:81px;
  top:528px;
  width:200px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:344px;
  top:529px;
  width:200px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:284px;
  top:250px;
  width:190px;
  height:273px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:273px;
}
#u25 {
  position:absolute;
  left:2px;
  top:128px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:558px;
  top:529px;
  width:200px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:524px;
  top:250px;
  width:190px;
  height:273px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:273px;
}
#u29 {
  position:absolute;
  left:2px;
  top:128px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
